@page
@model Wall_Net_Front.Pages.LoginModel
@{
    ViewData["Title"] = "Login page";
    Layout = "_LoginLayout";
}

<div class="login">
    <form class="formLogin" method="post">
        <h1 class="titulo display-4">Wall-Net</h1>
        <div class="form-floating mb-3" style="width: 80%;">
            <input type="text" class="form-control" style="width:100%" id="email" name="email" placeholder="name@example.com">
            <label for="email">Ingrese su email</label>
        </div>
        <div class="form-floating" style="width: 80%;">
            <input type="password" class="form-control" style="width:100%" id="password" name="password" placeholder="Password">
            <label for="password">Password</label>
        </div>
        <div class="iniciarSesion">
            <button id="login" class="btn-success" style="border-radius:5px; padding:5px; background-color:#981f67" type="submit">Iniciar Sesión</button>
        </div>
    </form>
</div>
<video class="videoLogin" muted autoplay loop>
    <source src="~/videos/videoback.mp4" type="video/mp4" />
</video>
<div class="capa"></div>