@page "/CatalogueDetail"
@model Wall_Net_Front.Pages.Catalogues.CatalogueDetailModel
@{
}

<div class="card mb-3" style="width: 18rem;">
    <img class="card-img-top" src="~/images/cine2x1.jpg" alt="Image">
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">ID: @Model.catalogue.Id</li>
            <li class="list-group-item">Descripcion: @Model.catalogue.ProductDescription</li>
            <li class="list-group-item">Puntos: @Model.catalogue.Points</li>
        </ul>
    </div>
</div>

<a class="btn-rosa" asp-area="" asp-page="/Catalogues/Catalogue">Volver</a>
