html {
  font-size: 14px;
}

@media (max-width: 577px) {
    header .opcionesDeUsuario {
        position: absolute;
        top: 8rem;
        background-color: black;
        width: 85vw;
        border-bottom: 5px solid #981f67;
        border-radius: 5px;
        padding-top: 2rem;
        z-index: 1;
    }
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background-color: #221d21;
}
body::-webkit-scrollbar {
  display: none;
}
header {
    width:90%;
    margin-left:5%;
    margin-top: -3rem
}
nav.opcionesHeader {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 8.5rem;
    background-color: black;
    border-radius:5px;
    border-bottom: 5px solid #981f67;
}
.logo-Wall {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 25px 0 0;
    padding:0 5px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}
.login {
    color: white;
    text-decoration: none;
    border-radius: 10px;
    margin: 0 10px;
    padding: 10px
}
.btn-login {
    color: #fff;
    background-color: #981f67;
    border-color: #981f67;
    padding: 10px;
    border-radius: 5px;
}
.btn-login:hover {
    background-color: #cc5296;
    border-color: #cc5296;
}
.login label {
    color: black;
}
.logout {
    color: white;
    text-decoration: none;
    border-radius: 10px;
    margin: 0 10px;
    padding: 10px
}
ul li a.btn-neon {
    color: white;
    text-decoration: none;
    border-radius: 10px;
    margin:0 10px;
    padding: 10px
}

.btn-neon:hover {
    color:white;
    background: #8d1888;
    border-radius: 10px;
}
a img.img-log {
    width: 35px;
    height: 35px;
    border-radius: 50%
}


main {
    min-height: 80vh;
    color: white
}
.table {
    color: white;
}
