
@{
    bool session = ViewData["token"] != null && ViewData["token"].ToString().ToLower() == "true";

    if (session != true)
    {
        <a class="nav-link text-dark" asp-page="/Login">Iniciar Sesión</a>
    }
    else
    {
<<<<<<< HEAD
        <a asp-page="/Index" asp-page-handler="">Cerrar Sesion</a>
=======
        <a asp-page="/Index" >Cerrar Sesion</a>
>>>>>>> 5e72300fcec7ffc5ce6519beb00c34940be498de
    }
}