
@{
    
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="btn-neon" asp-area="" asp-page="/Users/ListUsers">Usuario</a>
            </li>
            <li class="nav-item">
                <a class="btn-neon " asp-area="" asp-page="/Catalogues/Catalogue">Catalogue</a>
            </li>
            <li class="nav-item">
                <a class="btn-neon " asp-area="" asp-page="/Transactions/Transaction">Transaction</a>
            </li>
            <li class="nav-item">
                <a class="btn-neon " asp-area="" asp-page="/FixedTermDeposit/FixedTermDeposit">FixedTermDeposit</a>
            </li>
               <li class="nav-item">
               <a class="btn-neon" asp-area="" asp-page="/Users/UserProfile">Mi Perfil</a>
            </li>
        </ul>
        <div>
            <a class="logout btn-neon nav-link" asp-page="/Index">Cerrar Sesion</a>
        </div>
}